name: Build and Deploy Documentation

on:
  push:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  build_docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v6

      - name: Install Doxygen
        run: sudo apt-get install doxygen graphviz -y

      - name: Build documentation
        run: |
          cd doxygen
          doxygen
          touch html/.nojekyll
          cd ..

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: doxygen/html
